

<div class="followRecommendationsDiv">
    <div class="loggedInUserBlock">
        <div class="profileBlock" style="background:rgb( {{ range(0, 255) | random }}, {{ range(0, 255) | random }}, {{ range(0, 255) | random }});"></div>
        <div class="userInfoBlock">
            <h3>mxrningstar</h3>
            <h4>Nick</h4>
        </div>
        <div class="switchAccountBlock">
            <h4>Switch</h4>
        </div>
    </div>


    <div class="followRecommendationsBlock">
        <div class="info">
            <h3>Suggested for you</h3>
            <h4>See all</h4>
        </div>

        <div class="followRecommendations">

            {% for _ in range(0): %}
            <div class="recommendedUserBlock">
                <div class="profileBlock" style="background:rgb( {{ range(0, 255) | random }}, {{ range(0, 255) | random }}, {{ range(0, 255) | random }});">
                    <div class="pfp insertAfterPfpHere"></div>
                </div>
                <div class="userInfoBlock">
                    {% include '/imports/profilePreview.html' %}
                    <h3> {{ (data["randomUserNames"]) | random }}</h3>
                    <h4 class="description" style="font-size:12px;">Suggested for you</h4>
                </div>
                <div class="switchAccountBlock">
                    <h4>Follow</h4>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
    {% include '/imports/linksBlock.html'%}
</div>