

<style>
    .linksBlockSection{
        position:relative;
        top:0px;

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top:20px;
    }
</style>

<div class="linksBlockSection">
    <div class="linksBlock">
        <a class="link" href="#">Meta</a>
        <a class="link" href="#">About</a>
        <a class="link" href="#">Help</a>
        <a class="link" href="#">Press</a>
        <a class="link" href="#">API</a>
        <a class="link" href="#">Jobs</a>
        <a class="link" href="#">Privacy</a>
        <a class="link" href="#">Terms</a>
        <a class="link" href="#">Locations</a>
        <a class="link" href="#">Instagram Lite</a>
        <a class="link" href="#">Contact uploading and non-users</a>
        <a class="link" href="#">Meta Verified</a>
    </div>
    <div class="copyrightBlock">
        <h4>© 2023 INSTAGRAM FROM META</h4>
    </div>
</div>