

<div class="profilePreview">
    <div class="userInfoPreview">
        <div class="profileBlock">
            <div class="pfp insertAfterPfpHere"></div>
        </div>
        <div class="userInfoBlock">
            <h3>niko 
                <span class="badgesSection">
                    <span class="verifiedBadge"></span>
                </span>
            </h3>
            <h4>nikolipo</h4>
        </div>
    </div>

    <div class="userStatsPreview">
        <div class="postsCount">
            <span class="statCount">
                20.1K
            </span>
            <span class="statName">posts</span>
        </div>
        <div class="followersCount">
            <span class="statCount">
                205.9M
            </span>
            <span class="statName">followers</span>
        </div>
        <div class="followingsCount">
            <span class="statCount">
                64
            </span>
            <span class="statName">following</span>
        </div>
    </div>

    <div class="userPostsPreview">
        <div class="userPostPreview"></div>
        <div class="userPostPreview"></div>
        <div class="userPostPreview"></div>
    </div>


    <div class="userActionsPreview">
        <div class="buttonsContainer">
            <div style="color:white !important; background:var(--blue);">
                <svg class="icon messagesIcon">
                    <title>Direct</title>
                    
                    <use class="activeIcon" xlink:href="/static/icons/messages.svg#messagesIconPathActive"></use>
                    
                    <use class="inActiveIcon" xlink:href="/static/icons/messages.svg#messagesIconLineInactive"></use>
                    <use class="inActiveIcon" xlink:href="/static/icons/messages.svg#messagesIconPolygonInactive"></use>
                    
                </svg>
                <h3>Message</h3>
            </div>

            <div style="color:black !important; background:var(--lightLightGray);">
                <h3>Following</h3>
            </div>
        </div>
    </div>
</div>