


<style>
    .profilePreview{
        position: relative;
        top:20px;
        left:45px;

        width:400px;
        height:350px;
        min-width:400px;
        min-height:350px;
        max-height:350px;
        max-width:400px;

        margin-bottom: -310px;
        margin-right:-400px;

        z-index:200;

        border-radius:10px;

        display:flex;
        flex-direction:column;
        row-gap:5px;

        visibility:hidden;
        visibility: visible;

        background:red;
    }

    .profilePreview > div{
        width:100%;
        min-height:50px;

        background:blue;
    }

    .userInfoPreview{
        height:80px;
    }

    .userStatsPreview{
        height:70px;
    }

</style>

<div class="profilePreview">
    <div class="userInfoPreview">

    </div>
    <div class="userStatsPreview">

    </div>
    <div class="userPostsPreview">

    </div>
    <div class="userActionsPreview">

    </div>
</div>