

<style>
    .sideBarMoreContainer{
        position:fixed;
        bottom:60px;
        left:20px;

        width:270px;
        height:fit-content;
        min-height:310px;
        max-height:72vh;

        z-index:800;

        display:none;

        border-radius:10px;

        box-shadow:-1px 2px 20px rgba(0,0,0,0.2);

        background:var(--lightLightGray);
    }

    .sideBar.moreMenuActive .sideBarMoreContainer{
        display:flex;
        flex-direction:column;
        row-gap:5px;
    }

    .sideBarMoreContainer > div{
        display:flex;
        flex-direction: column;
        row-gap:5px;

        padding:5px 0px;
    }

    .sideBarMoreContainer .topSection{
        width:100%;
        height:70%;

        border-radius:10px 10px 0px 0px;

        background:var(--white);
    }

    .sideBarMoreContainer .bottomSection{
        width:100%;
        height:32%;

        border-radius:0px 0px 10px 10px;

        background:var(--white);
    }

    .sideBarMoreContainer .sideBarLink{

        width:90%;
        height:50px;

        grid-template-columns:30px 100px;

        margin:0px auto;
    }

    .sideBarMoreContainer .sideBarLink svg{
        transform:scale(.8);
    }

    .sideBarMoreContainer .sideBarLink:hover{
        border-radius:8px;
    }

    .sideBarMoreContainer .sideBarLink:hover svg{
        transform:scale(.89);
    }

    .sideBarMoreContainer .sideBarLink .sideBarLinkName{
        font-size:14px;
        line-height:18px;

        white-space:nowrap;
    }



</style>


<div class="sideBarMoreContainer">
    <div class="topSection">

        <div class="sideBarLink sideBarSettingsLink" onclick="redirect('#')">
            <div class="sideBarLinkIconSection">
                <svg class="icon settingsIcon">
                    <use class="inActiveIcon" xlink:href="/static/icons/settings.svg#settingsIconCircleInactive"></use>
                    <use class="inActiveIcon" xlink:href="/static/icons/settings.svg#settingsIconPathInactive"></use>
                </svg>
            </div>
            <div class="sideBarLinkName">
                Settings
            </div>
        </div>

        <div class="sideBarLink sideBarSettingsLink" onclick="redirect('#')">
            <div class="sideBarLinkIconSection">
                <svg class="icon yourActivityIcon">
                    <!-- <use class="inActiveIcon" xlink:href="/static/icons/yourActivity.svg#yourActivityIconPathInactive"></use>
                    <use class="inActiveIcon" xlink:href="/static/icons/yourActivity.svg#yourActivityIconPolylineInactive"></use>

                    <use class="inActiveIcon" xlink:href="/static/icons/yourActivity.svg#yourActivityIconCircleInactive1"></use>
                    <use class="inActiveIcon" xlink:href="/static/icons/yourActivity.svg#yourActivityIconCircleInactive2"></use>
                    <use class="inActiveIcon" xlink:href="/static/icons/yourActivity.svg#yourActivityIconCircleInactive3"></use>
                    <use class="inActiveIcon" xlink:href="/static/icons/yourActivity.svg#yourActivityIconCircleInactive4"></use> -->

                    <title>Your Activity</title>
                    <path id="yourActiviyIconPathInactive" d="M12 1.505a10.5 10.5 0 1 1-7.424 17.924" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                    <polyline id="yourActiviyIconPolylineInactive"  fill="none" points="8.893 15.108 12 12 12.012 12.012 12.012 5.793" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
                    <circle id="yourActiviyIconCircleInactive1"  cx="7.24" cy="2.651" r="1.125"></circle>
                    <circle id="yourActiviyIconCircleInactive2" cx="3.515" cy="5.83" r="1.125"></circle>
                    <circle id="yourActiviyIconCircleInactive3" cx="1.636" cy="10.353" r="1.125"></circle>
                    <circle id="yourActiviyIconCircleInactive4" cx="2.01" cy="15.235" r="1.125"></circle>
                </svg>
            </div>
            <div class="sideBarLinkName">
                Your Activity
            </div>
        </div>

        <div class="sideBarLink sideBarSavedLink" onclick="redirect('#')">
            <div class="sideBarLinkIconSection">
                <svg class="icon savedIcon">
                    <title>Saved</title>
                    <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
                </svg>
            </div>
            <div class="sideBarLinkName">
                Saved
            </div>
        </div>

        <div class="sideBarLink sideBarThemeLink" onclick="redirect('#')">
            <div class="sideBarLinkIconSection">
                <svg class="icon themeIcon">
                    <title>Theme icon</title>
                    <path d="M12.00018,4.5a1,1,0,0,0,1-1V2a1,1,0,0,0-2,0V3.5A1.00005,1.00005,0,0,0,12.00018,4.5ZM5.28241,6.69678A.99989.99989,0,1,0,6.69647,5.28271l-1.06054-1.061A.99989.99989,0,0,0,4.22186,5.63574ZM4.50018,12a1,1,0,0,0-1-1h-1.5a1,1,0,0,0,0,2h1.5A1,1,0,0,0,4.50018,12Zm.78223,5.30322-1.06055,1.061a.99989.99989,0,1,0,1.41407,1.41406l1.06054-1.061a.99989.99989,0,0,0-1.41406-1.41407ZM12.00018,19.5a1.00005,1.00005,0,0,0-1,1V22a1,1,0,0,0,2,0V20.5A1,1,0,0,0,12.00018,19.5Zm6.71729-2.19678a.99989.99989,0,0,0-1.41406,1.41407l1.06054,1.061A.99989.99989,0,0,0,19.778,18.36426ZM22.00018,11h-1.5a1,1,0,0,0,0,2h1.5a1,1,0,0,0,0-2ZM18.01044,6.98975a.996.996,0,0,0,.707-.293l1.06055-1.061A.99989.99989,0,0,0,18.364,4.22168l-1.06054,1.061a1,1,0,0,0,.707,1.707ZM12.00018,6a6,6,0,1,0,6,6A6.00657,6.00657,0,0,0,12.00018,6Zm0,10a4,4,0,1,1,4-4A4.00458,4.00458,0,0,1,12.00018,16Z"></path>
                </svg>
            </div>
            <div class="sideBarLinkName">
                Switch appearance
            </div>
        </div>

        <div class="sideBarLink sideBarreportAProblemLink" onclick="redirect('#')">
            <div class="sideBarLinkIconSection">
                <svg class="icon reportAProblemIcon">
                    <title>Report a problem</title>
                    <path d="M18.001 1h-12a5.006 5.006 0 0 0-5 5v9.005a5.006 5.006 0 0 0 5 5h2.514l2.789 2.712a1 1 0 0 0 1.394 0l2.787-2.712h2.516a5.006 5.006 0 0 0 5-5V6a5.006 5.006 0 0 0-5-5Zm3 14.005a3.003 3.003 0 0 1-3 3h-2.936a1 1 0 0 0-.79.387l-2.274 2.212-2.276-2.212a1 1 0 0 0-.79-.387H6a3.003 3.003 0 0 1-3-3V6a3.003 3.003 0 0 1 3-3h12a3.003 3.003 0 0 1 3 3Zm-9-1.66a1.229 1.229 0 1 0 1.228 1.228A1.23 1.23 0 0 0 12 13.344Zm0-8.117a1.274 1.274 0 0 0-.933.396 1.108 1.108 0 0 0-.3.838l.347 4.861a.892.892 0 0 0 1.77 0l.348-4.86a1.106 1.106 0 0 0-.3-.838A1.272 1.272 0 0 0 12 5.228Z"></path>
                </svg>
            </div>
            <div class="sideBarLinkName">
                Report a problem
            </div>
        </div>

    </div>

    <div class="bottomSection">
        <div class="sideBarLink sideBarThemeLink" onclick="redirect('#')">
            <div class="sideBarLinkName">
                Switch accounts
            </div>
        </div>

        <div class="line" style="width:100%; height:1px; background:var(--lightLightGray);"></div>

        <div class="sideBarLink sideBarThemeLink" onclick="redirect('#')">
            <div class="sideBarLinkName">
                Log out
            </div>
        </div>
    </div>
</div>