


<style>
    .sideBarNotificationsContainer{
        position:fixed;
        top:0px;
        left:70px;

        width:400px;
        height:100vh;


        border-left:1px solid var(--lightGray);

        border-radius:0px 20px 20px 0px;

        z-index:800;

        display:none;

        box-shadow:10px 2px 20px rgba(0,0,0,0.1);

        overflow:hidden;
        overflow-y:auto;

        background:var(--white);
    }

    .sideBarNotificationsContainer .menuKeyWordSection h3{
        font-weight:700 !important;
    }

    .sideBar.notificationsMenuActive .sideBarNotificationsContainer{
        display:block;
    }

    .menuKeyWordSection{
        position:relative;
        width:90%;
        height:50px;

        display:flex;
        align-items: center;

        margin:0px auto;
        margin-top:30px;
        margin-bottom:0px;

        background:none;
    }

    .menuKeyWordSection h3{
        color:black;
        font-size:24px;
        font-family:var(--instagramFont);
        font-weight:600;
        line-height:30px;
        text-align:start;
    }

    .followRequestsNotifications{
        width: calc( 100% - 20px );
        height:70px;

        display:flex;
        column-gap:5px;
        align-items:center;

        padding:0px 10px;

        margin:0px auto;

        background-color:transparent;
    }

    .followRequestsNotifications:hover{
        background: var(--sideBarLinksHoverColor);
    }



    .pfpsSection{
        position:relative;
        width:60px;
        height:50px;

        border-radius:10px;

        display:flex;
        justify-content:center;
        align-items:Center;

        background: none;
    }

    .pfpsSection::before, .pfpsSection::after{
        content:"";
        position:absolute;

        width:30px;
        height:30px;

        border-radius:50px;

        background:gray;
    }

    .pfpsSection::before{
        left:6px;
        top:5px;
    }

    .pfpsSection::after{
        right:4px;
        top:14px;

        border:2px solid var(--white);

        background:red;
    }

    .namesSection{
        width:180px;
        height:50px;

        padding:0px 5px;

        display:flex;
        flex-direction:column;
        gap:0px;
        justify-content:Center;

        background:none;
    }

    .namesSection h3, .namesSection h4{
        font-family:var(--instagramFont);
        font-size:14px;
        line-height:18px;

        margin:0px;
    }

    .namesSection h3{
        font-weight:700;
    }

    .namesSection h4{
        color:gray;
        font-weight:400;
        margin-top:-3px;
    }

    .iconsSection{
        width:50px;
        height:40px;

        display:flex;
        column-gap:10px;
        justify-content:center;
        align-items:center;

        margin-left:auto;

        background:none;
    }

    .iconsSection .dot{
        min-width:8px; 
        min-height:8px;
        max-width:8px; 
        max-height:8px;

        border-radius:50px;

        background:var(--blue);
    }  

    .iconsSection span{
        transform:rotate(90deg);
    }
    .iconsSection span, .iconsSection span svg{
        display:inline-block;
        width:16px;
        height:16px;

        background:none;
    }

    .notificationsSection{
        position:relative;
        width: calc(90%) ;
        height:fit-content;
        min-height:80px;

        padding:0px 5%;

        margin:0px auto;
        margin-top:5px;
        border-top:1px solid var(--lightGray);

        background:none;
    }

    .notificationsSection > div{
        width:100%;
        height:fit-content;
        min-height:70px !important;

        background:none;
    }


    .notificationsSection > div > h3{
        font-family:var(--instagramFont);
        font-size:16px;
        font-weight:700;
        line-height:20px;

        margin:10px 0px 10px 0px;
    }

    .notificationsSection > div > div{
        height:fit-content;
        min-height:70px;
        width:100%;

        background:none;
    }

    .notificationsSection > div > div > .notification{
        height:fit-content;
        min-height:60px;
        width:100%;

        display:flex;
        column-gap:5px;
        align-items:center;

        background:none;
    }
    
    .notificationsSection > div > div > .notification .pfpSection{
        height:40px;
        width:40px;
        max-width:40px;
        max-height:40px;
        min-height:40px;
        min-width:40px;

        border-radius:50px;

        background:gold;
    }

    .notifContentSection{
        width:auto;
        height:fit-content;
        min-height:40px;

        display:flex;
        align-items:center;
        justify-content: center;
        flex-grow:1;        

        background:none;
    }

    .notifContentSection span{
        font-family:var(--instagramFont);
        font-size:14px;
        line-height:18px;
        font-weight:400;
        margin:0px;
    }

    .notifWho{
        font-weight:600 !important;
    }

    .notifWhen{
        color:var(--lightGray);
    }


    .notifBannerOrButtonSection{
        width:fit-content;
        height:fit-content;
        max-width:80px;
        max-height:50px;
        min-height:50px;
        min-width:80px;

        display:flex;
        justify-content: center;
        align-items: center;

        margin-left:auto;

        background:none;
    }

    .notifBannerOrButtonSection .notifButton{
        width:fit-content;
        height:18px;

        display:flex;
        justify-content:center;
        align-items:Center;
        margin:0px;
        padding:7px 16px;

        color:white;
        line-height:18;
        font-size:14px;
        font-weight:600;
        font-family:var(--instagramFont);

        border-radius:8px;

        background:var(--blue);
    }
</style>

<div class="sideBarNotificationsContainer">
    <div class="menuKeyWordSection">
        <h3>Notifications</h3>
    </div>

    <div class="followRequestsNotifications">
        <div class="pfpsSection">

        </div>
        <div class="namesSection">
            <h3 class="namesSectionTitle">Follow requests</h3>
            <h4 class="namesSectionTitle">john + 2 others</h4>
        </div>
        <div class="iconsSection">
            <div class="dot"></div>
            <span class="svgIcon">
                <svg aria-label="" class="x1lliihq x1n2onr6" color="rgb(115, 115, 115)" fill="rgb(115, 115, 115)" height="16" role="img" viewBox="0 0 24 24" width="16"><title></title><path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"></path></svg>
            </span>
        </div>
    </div>

    <div class="notificationsSection">
        <div class="thisMonthNotifications">
            <h3 class="notificationsTitle">
                This month
            </h3>
            <div class="thisMonthNotifsContainer">

                {% for _ in range(1,5): %}
                <div class="notification">
                    <div class="pfpSection">

                    </div>
                    <div class="notifContentSection">
                        <span>
                            <span class="notifSummarize">
                                <span class="notifWho">{{ (data["randomUserNames"]) | random }}</span>
                                started following you.
                            </span>
                            <span class="notifContent"></span>
                            <span class="notifWhen">{{ range(1, 5) | random }} w ago</span>
                        </span>
                    </div>
                    <div class="notifBannerOrButtonSection">
                        <div class="notifButton">Follow</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="earlierNotifications">
            <h3 class="notificationsTitle">
                Earlier
            </h3>

            <div class="earlierNotifsContainer">
                {% for _ in range(5,12): %}
                <div class="notification">
                    <div class="pfpSection">

                    </div>
                    <div class="notifContentSection">
                        <span>
                            <span class="notifSummarize">
                                <span class="notifWho">{{ (data["randomUserNames"]) | random }}</span>
                                started following you.
                            </span>
                            <span class="notifContent"></span>
                            <span class="notifWhen">{{ range(4,100) | random  }} w ago</span>
                        </span>
                    </div>
                    <div class="notifBannerOrButtonSection">
                        <div class="notifButton">Follow</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>