


:root{

    --sideBarWidth:240px;
    --pageContentWidth: 680px;
    --followRecommendationBarWidth: 370px;


    --white: white;
    --blue: rgb(0, 149, 246);
    --gray: rgb(115, 115, 115);
    --lightGray: rgb(199, 199, 199);
    --lightLightGray: rgb(239, 239, 239);
    --lightBlack:rgba(38, 38, 38);
    --instagramFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

    --sideBarLinksHoverColor : rgba(0, 0, 0, .05);
}

*{
    position: relative;
}

body{
    background:var(--white);
}

svg{
    overflow: hidden;
    overflow: visible;
    

    width:100%;
    height:60px;
}


.mainWrapper{
    position:fixed;
    top:0px;
    left:0px;

    overflow:hidden;
    overflow-y:auto;

    width:100vw;
    height:100vh;

    display:grid;
    grid-template-columns: var(--sideBarWidth) calc( var(--pageContentWidth) + var(--followRecommendationBarWidth) );

    background:var(--white);
}

.pageContentDiv{
    position:relative;
    top:0px;
    left:0px;

    width: var(--pageContentWidth);
    height:fit-content;
    min-height:100vh;


    background:var(--white);

}



@keyframes showProfilePreviewAnimation {
    0% {
        opacity:0;
        visibility:visible;
    }

    100%{
        opacity:1;
        visibility:visible;
    }
}